.main {
    margin: 0 auto;
    text-align: center;
}
/* スマホ　767px以下 */
@media only screen and (max-width: 767px) {
    img {
        width: 360px;
        height: auto;
    }
}
/* pc　768px以上 */
@media only screen and (min-width: 768px), print {
    img {
        width: 1000px;
        height: auto;
    }
}
